.git
.gitignore
.env
.env.*

**/.env
**/.env.*
**/node_modules
**/vendor
**/.next
**/coverage
**/dist
**/build
**/storage/logs
**/storage/framework/cache
**/storage/framework/sessions
**/storage/framework/views
**/*.log
**/*.sqlite
**/*.backup
**/.DS_Store
